.navbar {
    background: #87C4FF;
}

.navbar-logo {
    width: 20%;
}

.navbar a {
    color: white;
}

.dropdown-menu {
    background: #87C4FF;
}

.carousel-inner {
  height: 500px;
}
.carousel-card {
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
  }

  .carousel-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    
  }

  .carousel-card .card-body {
    padding: 15px;
  }

  .col-1_5 {
    flex: 0 0 auto;
    width: 15.66666667%;
  }

  /* Guru */
  .teacher-card {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.teacher-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.teacher-name {
    font-weight: bold;
}

.teacher-subject {
    color: #666;
}

  /* contact */ 
  iframe {
    width: 100%;
    height: 300px;
    border: 0;
} 

/* Visi dan Misi */
.vm {
  margin-top: 20px;
}
.visi-misi-container {
  display: flex;
  justify-content: space-between;
}

.visi,
.misi {
  padding: 100px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #000000;
}

/* skepsek */
.sambutan-container {
  margin-top: 10px;
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2,
h3 {
  color: #000000;
}

.profile-image {
  max-width: 100%;
  height: auto;
  border-radius: 10%;
  margin-bottom: 20px;
}

/* eskul */
.ekstrakurikuler-card {
  height: auto;
  weight: 300px;
  margin-bottom: 20px;
}

.ekstrakurikuler-card img {
  height: 230px;;
  weight: 300px;
  object-fit: cover; 
}

.ekstrakurikuler-card .card-body {
  height: 50%;
  overflow: auto; 
}
.ekstrakurikuler-card text {
  height:auto;
  
}

/* dashboard */

